[Unit]
Description=Drongo control software
After=network.target

[Service]
ExecStart=/usr/local/bin/Drongo_software
Restart=on-failure
User=max
Group=max

[Install]
WantedBy=multi-user.target
